@tailwind base;
@tailwind components;
@tailwind utilities;
  
body{
  overflow-x: hidden;
}

  .slick-slide > div {
    margin: 0 10px
  }
  .text-xl {
    font-size: 24px; /* Change the font size to your desired size */
    font-family: Arial, sans-serif; /* Change the font family to your desired font */
    font-weight: bold; 
    text-align: center; 
  }

  
  .image-container {
    margin-right: 20px; 
    object-fit: cover;
  }
  .image-container {
    display: inline-block;
    margin-right: 10px; 
  }
  
  
  
  
  .image-container img {
    width: auto; 
    max-width: 300px; 
    height: auto;
    
    transition: transform 0.3s ease; 
  }
  
  .image-container:hover img {
    transform: scale(1.1); 
    transition: transform 0.3s ease; 
  }
  
  .container-bg{
    position: relative;
    margin-bottom: 0; /* Reset margin */
    padding-bottom: 0; /* Reset padding */
    width: 100%; 
    height: 100%;
  }
  
  .overlayContent{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
  }
  @media screen and (max-width: 767px) {
    .overlayContent {
      width: 90%; 
      height: 90%; 
      top: 60%;
      left: 50%;
    }
  }

  .larger-text {
    font-size: 2.5em; 
  }
  
  .fonta{
    font-family:'Blackadder ITC'
  }
  @font-face {
    font-family: 'Blackadder ITC';
    src: url('/path/BlackadderITC.otf') format('opentype');
  }
  .fontb{
    font-family:'Bell MT'
  }
  
  .btna {
    
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: #1e1b4ba2;
    border: none;
    padding: 0.75rem 1rem; 
    font-size: 1rem; 
    line-height: 1.25;
    border-radius: 9999px; 
    transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    color: #fff; 
    cursor: pointer;
  }
  
  .btna:hover {
    background-color: #1e1b4b; 
  }
  
  .animate__animated {
    animation-duration: 2s; 
    animation-fill-mode: both;
  }
  
  @keyframes slideInFromTop {
    from {
      transform: translateY(-100%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  
  
  .animate__slideInFromTop {
    animation-name: slideInFromTop;
  }
  
  @keyframes slideInFromInward {
    from {
      transform: scale(0.5);
      opacity: 0;
    }
    to {
      transform: scale(1);
      opacity: 1;
    }
  }
  
  .animate__slideInFromInward {
    animation-name: slideInFromInward;
  }
  
 
  
  
  .icon-box {
    display: inline-flex;
    align-items: center;
    justify-content: center; 
    width: 32px; 
    height: 32px;
    padding: 7px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    
  }
  .my_gradient {
    @apply bg-gradient-to-r from-lime-500  to-white bg-clip-text text-transparent;
  }
 
  .roundedImage {
    width: 100%; /* Adjust the size as needed */
    height: 350px; 
    border-radius: 50%; /* This will make the image round */
  }

  .image-containers img {
    transition: transform 0.3s ease; 
  }
  
  .image-containers:hover img {
    transform: scale(2); 
    transition: transform 0.3s ease; 
  }
  
 /* carousel */
.carousel{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.carousel .list .item{
  position: absolute;
  inset: 0 0 0 0;
}

.carousel .list .item img{
  width: 100vw;
  height: 100vh;
  object-fit:cover;
}
.carousel .list .item .content{
  position: absolute;
  top: 10%;
  width: 1140px;
  max-width: 80%;
  left: 50%;
  transform: translateX(-50%);
  padding-right: 30%;
  box-sizing: border-box;
  color: #fff;
  text-shadow: 0 5px 10px #0004;
}

.carousel .list .item .content .author{
  font-weight: bold;
  letter-spacing: 10px;

}
.carousel .list .item .content .title{
  font-weight: bold;
  font-size: 5em;
  list-style: 1.3em;
}
.carousel .list .item .content .topic{
  font-weight: bold;
  font-size: 4em;
  list-style: 1.3em;
  color: #433d92;
}

.carousel .list .item .content .buttons{
  display: grid;
  grid-template-columns: repeat(2,130px);
  grid-template-rows: 40px;
  gap: 5px;
  margin-top: 20px;
}
.carousel .list .item .content .buttons{
  /* background-color: #eee; */
  border: none;
  letter-spacing: 3px;
  font-family: Poppins;
  font-weight: 500;
}
.carousel .list .item .content .buttons:nth-child(2){
  background-color: transparent;
  color: #eee;
  border: 1px solid #eee
}
/* thumbnail */
.thumbnail{
  position: absolute;
  bottom: 50px;
  left: 60%;
  width: max-content;
 
  z-index: 25;
  display: flex;
  gap: 20px;
}
.thumbnail .item{
  width: 150px;
  height: 220px;
  flex-shrink: 0;
  position: relative;
}
.thumbnail .item img{
  width: 400px;
  height: 225px;
  object-fit: cover;
  border-radius: 20px;
}
.thumbnail .item .content{
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;
}
.thumbnail .item .content .title{
  font-weight: bold;
}
/* arrow */
.arrows{
  position: absolute;
  top: 80%;
  right: 40%;
  width: 300px;
  max-width: 30%;
  display: flex;
  gap: 10px;
 align-items: center;
}
.arrows button{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #1e1b4b;
  border: none;
  color: #fff;
  font-weight: bold;
  transition: .5s;
  z-index: 100;
}
.arrows button:hover{
  background-color: #eee;
  color: #555;
}

.carousel .list .item:nth-child(1){
  z-index: 1;
}
.carousel .list .item:nth-child(1) .author,
.carousel .list .item:nth-child(1) .title,
.carousel .list .item:nth-child(1) .topic,
.carousel .list .item:nth-child(1) .des,
.carousel .list .item:nth-child(1) .buttons{
  transform: translateY(50px);
  filter: blur(20px);
  opacity: 0;
  animation: showContent 0.5s 1s linear 1 forwards;
}
@keyframes showContent{
  to{
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
  }
}
/* .carousel .list .item:nth-child(1) .title{
  animation-delay: 1.2s;
} */
.carousel .list .item:nth-child(1) .topic{
  animation-delay: 1s;
}
.carousel .list .item:nth-child(1) .des{
  animation-delay: 1.2s;
}
.carousel .list .item:nth-child(1) .buttons{
  animation-delay: 1.4s;
}

/* effect next click */
.carousel.next .list .item:nth-child(1) img{
  width:150px;
  height: 220px;
  position: absolute;
  left: 50%;
  bottom: 50px;
  border-radius: 20px;
  animation: showImage 0.5s linear 1 forwards;
}

@keyframes showImage{
  to{
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    border-radius: 0;
  }
}
.carousel.next .thumbnail .item:nth-last-child(1){
  width: 0;
  overflow: hidden;
  animation: showThumbnail 1s linear 1 forwards;
}

@keyframes showThumbnail{
  to{
    width: 150px;
    filter: blur(20px);

  }
}
.carousel.next .thumbnail{
  transform: translateX(150px);
  animation: transformThumbnail .5s linear 1 forwards;
}

@keyframes transformThumbnail{
  to{
    transform: translateX(0);
  }
}
/* prev */
.carousel.prev .list .item:nth-child(2){
  z-index: 2
}

.carousel.prev .list .item:nth-child(2) img{
  position: absolute;
  bottom: 0;
  left: 0;
  animation: outImage .5s linear 1 forwards;
}
@keyframes outImage{
  to{
    width: 150px;
    height: 220px;
    border-radius: 20px;
    left: 60%;
    bottom: 50px;
  }
}
/* dsfsd sdfsd */
.carousel.prev .thumbnail .item:nth-child(1){
  width: 0;
  overflow: hidden;
  opacity: 0;
  animation: showThumbnail .5s linear 1 forwards;
}


.carousel.prev .list .item:nth-child(2) .author,
.carousel.prev .list .item:nth-child(2) .title,
.carousel.prev .list .item:nth-child(2) .topic,
.carousel.prev .list .item:nth-child(2) .des,
.carousel.prev .list .item:nth-child(2) .buttons{
  animation: contentOut 1.5s linear 1 forwards ;
}

@keyframes contentOut{
  to{
    transform: translateX(-150px);
    filter: blur(20px);
    opacity: 0;
  }
}

.carousel.next .arrows button,
.carousel.prev .arrows button{
  pointer-events: none;
}

/* time */
.time{
  width: 0%;
  height: 5px;
 
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
}

.carousel.next .time,
.carousel.prev .time{
  width: 100%;
  animation: timeRunning 2s linear 1 forwards;
}


@keyframes timeRunning{
  to{
    width: 0;
  }
}

@media screen and (max-width: 678px) {
  .carousel .list .item .content{
    padding-right: 0;
  }
  .carousel .list .item .content .topic{
    font-size: 30px;
  }
  .carousel .list .item .content .des{
    font-size: 15px;
  }
  
  
  
}

.contents h1{

  text-transform: uppercase;
  color: white;
  letter-spacing: 1.5rem;
  font-weight: 500;
  padding: .5rem;
  font-size: 2rem;
}



.buttona{
 
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;
}
.buttona button{
  padding: 1.5rem 2rem;
  margin: 0 1rem;
  background-color: transparent;
  border: solid white 1px;
  font-size: 12px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  transition: 0.25s background-color;
}
.buttona button:hover{
  background-color: white;
  color: black;
  transition: 0.25s background-color ;
  cursor: pointer;
}
.eigi{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media screen and (max-width: 678px) {
  
  .contents h1{
    letter-spacing: .6rem;
    font-weight: 400;
  }

  .buttona button{
    padding: 1rem 1rem;
    font-size: 10px;
  }
}
@media screen and (max-width: 453px){
  .buttona button{
    padding: .5rem 1rem;
    margin: 0 0rem;
  }
  
.buttona{
  padding-top: 0;
}

}


.ei {
  letter-spacing: 1rem;
}
.ei2{
  letter-spacing: .3rem;
  
}
.ei3 {
  letter-spacing: 1rem;
  line-height: 4rem;
}
@media screen and (max-width: 768px) {
  
  .ei2{
    letter-spacing: .1rem;
    line-height: 2rem;
  }
  .ei3 {
    line-height: 2rem;
    padding-bottom: 3px;
    padding-top: 10px;
  }

}

.ult {
  letter-spacing: .2rem;
  line-height:3rem;
  list-style-type: disc; /* Use disc bullet points */
  margin-left: 1rem;
}
@media screen and (max-width: 768px) {
  
  .ult {
    letter-spacing: .1rem;
    line-height:2rem;
    list-style-type: disc; /* Use disc bullet points */
    margin-left: 1rem;
  }
  

}

.eigini{
  /* padding: 1.5rem 2rem; */
  /* margin: 0 1rem; */
  background-color: transparent;
  border: solid white 1px;
  font-size: 12px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  transition: 0.25s;
}



